/* * {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.container-md {
    max-width: 960px !important;
}

.card {
    flex: 1;
    /* max-width: 300px; */
    margin: 20px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    transition: all 0.3s;
}

.intro {
    height: 70px;
    padding: 10px;
    text-align: center;
    background-color: rgba(27, 27, 27, 0);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s;

}

.aboutheading {
    margin: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    text-align: left;
    position: relative;
}



.card:hover .intro {
    height: 200px;
    bottom: 0;
    background: rgba(27, 27, 27, 0);
    text-align: left;
    background: linear-gradient(to bottom, #ffffff04, #a00e09fb);
    /* Adjust colors as needed */
}


.card:hover p {
    opacity: 1;
}

.animated-underline {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

hr.underline {
    border: none;
    border-top: 3px solid #f85002;
    /* Change the color as needed */
    transition: width 0.7s ease-in-out;
    width: 0;
}

.card:hover hr.underline {
    width: 100%;
}

.overlay {
    position: relative;
    background-image: url('images/benefits.png') !important;
    /* Replace with the URL of your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    /* Text color on the overlay */
    padding: 100px 0;
    /* Adjust padding as needed */
    text-align: center;
}


.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 165, 78, 0.8);
    /* Adjust the overlay color and opacity as needed */
}

.content {
    z-index: 1;
}

.list-unstyled {
    color: #FFF;
    text-align: left;
}

/* Body Text */
.lead {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150%;
    /* 27px */
    letter-spacing: 0.9px;
    text-align: left;
    padding: 15px 0px 0px 0px;
    /* top, right, bottom, left */


}

.display-4 {
    color: #FFF;
    font-family: Lato;
    font-size: 29px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    letter-spacing: 1.8px;
}

.custom-content {
    /* Add your custom styles here */

    color: #fff;
    /* Example text color */
    padding-left: 30px;
    padding-right: 30px;
}

.custom-heading {
    color: var(--Maroon, #A00E09);
    font-family: Lato, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    /* text-transform: capitalize; */
    text-align: left;

}

.heading_1 {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.custom-background {
    width: 100%;
    height: auto;
    /* Adjusted for responsiveness */
    flex-shrink: 0;
    background: var(--Maroon, #A00E09);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* Added padding for better visibility */
}

.goal-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 170.5%;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    /* Remove default margin */
}

.sustainable-text {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 170.5%;
    letter-spacing: 0.9px;
    margin-top: 5px;
    /* Added margin-top for better spacing */
}

.container-with-space {
    margin-top: 25px;
    /* Adjust top margin as needed */
    margin-bottom: 25px;
    /* Adjust bottom margin as needed */
}

.heading_committee {
    color: var(--Maroon, #A00E09);
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: capitalize;

}

.content-comipara {
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.9px;
}

.custom-subheading {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    padding-top: 20px;

}

.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
}

.team .member .teampic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

/* .team .member .teampic img {
    transition: ease-in-out 0.3s;
    } */


.team .member .member-info {
    padding-left: 30px;
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: tomato;
}

.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
}

.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .member .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}

.team .member .social a i {
    color: #A00E09;
    font-size: 16px;
    margin: 0 2px;
}

.team .member .social a:hover {
    background: tomato;
}

.team .member .social a:hover i {
    color: #fff;
}

.team .member .social a+a {
    margin-left: 8px;
}

/* section {
    padding: 0px 0;
    overflow: hidden;480
} */



.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: tomato;
}

.underline {
    width: 150px;
    height: 1px;
    background-color: black;
    margin: auto;
    margin-top: -30px;
}

/* .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    }
    
    .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
    } */

.section-title p {
    margin-top: 20px;
}

.team-member {

    padding: 20px;
    /* Adjust padding as needed */
    margin-bottom: 20px;
    /* Adjust margin as needed */
}

.new-background-class {

    padding-bottom: 20px;
    padding-top: 20px;
}

/* .new-background-classal {
    background-color: #D6A54E;

} */

.new-background-classal {
    background-color: rgba(214, 165, 78, 0.5);
}
.hfourcla {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.designhead {
    color: var(--Maroon, #A00E09);

    /* Roll */
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    /* text-transform: capitalize; */
    margin-top: 5px;
}

.contepar {
    color: #000;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    /* text-transform: capitalize; */
    padding-top: 10px;
}

.bi .bi-envelope {
    color: #0cd616;

}

.member-info {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

.img-container {
    width: 200px;
    /* Adjust this value as needed */
    height: 200px;
    /* Adjust this value as needed */
}

.imsiz {
    width: 100%;
    height: auto;
}


.contepar br {
    display: block;
    /* Make the line break a block element */
    content: "";
    /* Add content to ensure the line break is rendered */

}

.special-text {
    text-transform: uppercase !important;
}

@media (max-width: 767px) {

    /* Adjust styles for smaller screens (up to 767px) */
    .goal-text {
        font-size: 18px;
        /* Adjusted font size for smaller screens */
    }

    .sustainable-text {
        font-size: 14px;
        /* Adjusted font size for smaller screens */
    }
}

@media (max-width: 280px) {


    .hfourcla {
        font-size: 16px;
        /* Adjust the font size for smaller screens */
    }

    .designhead,
    .contepar {
        font-size: 12px;
        /* Adjust the font size for smaller screens */
    }

    .img-container {
        width: 50px;

    }

    .member-info {
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 20px;
        padding-right: 0px;
    }
}



.card-container {


    display: flex;
    flex-direction: row;
    /* max-width: 480px; */

    padding-top: 30px;
    padding-bottom: 20px;

    border-radius: 8px;
    overflow: hidden;
}

.mobile-card-image {

    /* max-height: 200px; */
    object-fit: cover;
}

.card-content {
    flex: 1;
    padding: 20px;
}

.socialcon {
    display: flex;
    margin-top: 10px;
}

.socialcon a+a {
    margin-left: 10px;
}

.page-specific-container {
    padding-top: 0px !important;
    /* Adjust the value as needed */
    margin-top: 0px;
}


@media (max-width: 1024px) {
    /* .container {
        display: flex;
        justify-content: center;
    } */

    .card-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px;

        border-radius: 8px;
        overflow: hidden;
    }

    .mobile-card-image {
        width: 100%;
        max-height: auto;
        object-fit: contain;
    }

    .socialcon {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .socialcon a+a {
        margin-left: 10px;
    }

    .imsiz {
        width: 100%;
        height: auto;
    }

    .dei-people2 {
        display: flex;
        justify-content: center !important;
        align-items: center;
    }

    .dei-people1 {
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding-left: 0rem !important;
    }
}



@media (max-width: 768px) {

    .lead {
        font-size: 1rem !important;
        text-align: center !important;
    }
}

.dei-people1 {
    display: flex;
    justify-content: left;
    align-items: center;
    /* padding-left: 6rem !important; */
}

.dei-people2 {
    display: flex;
    justify-content: left;
    align-items: center;
}


.mobile-card-image {
    height: 233px;
    width: 233px;
}


.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1s ease;
}

.inner:hover img {
    transform: scale(1.2);
}

.lead{
    text-align: justify !important;
}



@media (min-width: 1024px) {
    .dei-people1 {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 8rem !important;
    }
    .dei-people2{
        padding-left: 4rem !important;
    }
}


.skillskapes-logo {
    display: grid;
  
    place-items: end;
  }
  
  @media only screen and (max-width: 991px) {
  
    .skillskapes-logo,
    .iitm-logo {
      display: grid;
      place-items: center !important;
    }
  }


  .copyrights {
    text-align: center;
    position: relative;
  }
  
  .copy-h6 {
    text-align: center;
    margin: 0;
  }
  
  .skillskapes-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 0;
  }
  
  .skillskapes-content {
    margin: 0;
    color: #fff;
    font-size: 12px;
  }
  
  /* Media query for screens below 991px */
  @media (max-width: 991px) {
    .copyrights {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .skillskapes-logo {
      position: static;
      text-align: center;
      margin-top: 10px; /* Add some space between elements */
    }
  
    .skillskapes-content {
      font-size: 14px; /* Slightly larger font size for better readability */
    }
  
    .copy-h6 {
      margin-bottom: 10px; /* Space between the elements */
    }
  }
  